
.chat {
  $block-name: &; // #{$block-name}__element {}
  min-height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 651px;
  background-image: url(../img/chat-background.png);
  background-size: cover;
  background-position: center;
  margin: 0 auto;

  &__content {
    z-index: 2;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 42px 35px 30px 16px;
    // overflow-x: hidden;
    overflow-y: scroll;
    height: 200px;
  }

  &__footer {
    z-index: 1;
    flex-shrink: 0;
    padding: 20px 40px 30px 20px;
    border-top: 1px solid #DBDBDB;
  }

  &__block {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &--right {
      flex-direction: row-reverse;

      #{$block-name} {
        &__dialog {
          &:before {
            left: auto;
            right: -7px;
          }
        }
      }
    }

    &--unread {
      margin-left: -15px;
      margin-right: -35px;
      margin-top: -4px;
      margin-bottom: 20px;
    }
  }
  
  &__img {
    flex: 0 0 45px;
    clip-path: polygon(50% 0%, 98% 38%, 82% 95%, 18% 95%, 2% 38%);
  }

  &__dialog {
    background: #F1F3F5;
    border-radius: 5px;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 15px 11px 15px;
    margin: 0px 19px;
    position: relative;
    
    &:before {
      content: "";
      position: absolute;
      top: 7px;
      left: -7px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7px 7px 0 7px;
      border-color: #ffffff transparent transparent transparent;
      z-index: -1;
    }
  }

  &__unread {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0;
    text-align: center;
    white-space: nowrap;

    &:before {
      left: -7px;
      margin-left: -50%;
    }
    &:after {
      left: 7px;
      margin-right: -50%;
    }
    &:before, &:after {
      content: '';
      display: inline-block;
      position: relative;
      top: 1px;
      width: 50%;
      height: 1px;
      vertical-align: middle;
      background: #DBDBDB;
      cursor: default;
    }
    
    span {
      border: none;
      padding: 0px 10px;
      text-decoration: none;
      font-size: 14px;
      line-height: 24px;
      color: black;
    }
  }

  &__textarea {
    width: 100%;
    height: 129px;
    margin-bottom: 13px;
  }

  &__btn {

  }
}
