// В этом файле должны быть стили для БЭМ-блока item, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$col-gap: 10px;

.item {

  $block-name: &; // #{$block-name}__element {}
  min-height: 155px;
  height: 100%;
  font-size: 14px;
  padding: 13px 17px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
  align-items: baseline;
  position: relative;
  align-items: flex-start;
  z-index: 1;

  @include media-breakpoint-up(sm) {
    padding-left: 14px;
    padding-right: 14px;
  }

  &--height-big {
    height: 211px;

    @include media-breakpoint-up(sm) {
      height: 492px;
    }
  }

  &__row {
    padding-bottom: 10px;

    & > * {
      padding-top: $col-gap;
    }

    .row {
      [class*="col-"] {

        .row {
          height: 100%;

          [class*="col-"] {
            height: 50%;
            padding-bottom: 4px;

            &:last-child {
              padding-top: 4px;
              padding-bottom: 0;
            }
          }
        }

        #{$block-name} {
          min-height: auto;
          padding: 8px 10px;

          @include media-breakpoint-up(sm) {
            padding: 14px;
          }
        }
      }
    }
  }

  &__scroll {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 17px 15px;
    
    @include media-breakpoint-up(sm) {
      padding: 16px 15px;
    }

    p {
      font-size: 18px;
      line-height: 26px;
      text-align: center;

      @include media-breakpoint-up(sm) {
        margin-top: 12px;
      }
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;

    img {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
    }
  }

  &__hidden {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }

  p {
    color: #000000;
  }

  ul {
    padding: 0;
    list-style: none;
    margin: 0;

    li {
      margin-bottom: 31px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--blur {
    &:hover {
      #{$block-name} {
        &__img {
          filter: blur(4px);
        }
        &__hidden {
          opacity: 1;
        }
      }

      p {
        filter: blur(4px);
      }
    }
  }

  // background color
  &--fog {
    background-color: #E8EBED;
  }
  &--sky {
    background-color: #90BCE8;
  }
  &--bright {
    background-color: #FEBF26;
  }
  &--dark {
    background-color: #A2A9B7;
  }
  &--lava {
    background-color: #FFAA87;
  }
  &--specter {
    background-color: #C7ABD4;
  }
  &--love {
    background-color: #F55E62;
  }
  &--grass {
    background-color: #E3EBD3;
  }

  // text color
  &--text-white {
    p {
      color: white;
    }
  }
}


