// В этом файле должны быть стили для БЭМ-блока word-line, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.word-line {
  $block-name: &; // #{$block-name}__element {}
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
  margin: 0;
  white-space: nowrap;
  font-size: 14px;
  line-height: 19px;
  
  &__title {
    max-width: 200px;
    white-space: normal;

    &--left {

    }
    &--right {
      text-align: right;
    }
  }

  &__underline {
    border-bottom: 1px dotted black;
    width: 100%;
    margin: 0px 14px;
    margin-bottom: 5px;
  }
}
